google-api-core==2.20.0
google-auth==2.35.0
google-cloud-core==2.4.1
google-cloud-translate==3.16.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
googletrans==2.4.0
tweepy==4.14.0
python-dotenv==1.0.1